@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
}
/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  min-width: 580px;
  min-height: 304px;
  color: black;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.input-container {
  position: relative;
  width: 100%;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-input {
  width: 100%;
  margin-bottom: 12px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-family: "Nunito", sans-serif;
}

button {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #006959;
  color: white;
  cursor: pointer;
  outline: none;
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Nunito", sans-serif;
}

.reset {
  background-color: red;
}

/* Countdown */
.countdown-El {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

ul {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  margin-inline: 15px;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

/* Complete */
.complete {
  width: 100%;
  height: 100%;
  font-size: 60px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  margin-top: 25px;
  color: red;
  animation: complete 2s infinite;
}

.completed {
  color: red;
}

.completed span {
  animation: complete 2s infinite;
}

@media screen and (max-width: 650px) {
  .container {
    min-width: unset;
    width: 80vw;
    min-height: 245px;
    padding: 20px;
    margin: 0 auto;
  }

  li {
    font-size: 15px;
    margin-inline: 3px;
  }

  li span {
    font-size: 40px;
  }

  .complete {
    font-size: 40px;
  }
}

@keyframes complete {
  50% {
    transform: scale(150%);
  }
}
